body {
    font-family: 'Open Sans', sans-serif !important;
}

#mainNavbar .nav-item .nav-link {
    font-size: 17px;
    font-weight: 600;
    color: #000000;
}

#mainNavbar .nav-item.active .nav-link {
    color: #6D8EB7;
}

#mainNavbar .nav-action .action-item {

}

.avatar {
    height: 174px;
    width: 174px;
    border: 2px solid #6D8EB7;
}

.btn-danger {
    background-color: #D24228;
}

.rating-stars span.checked {
    color: orange;
}

.rating-stars {
    font-size: 0.9em;
}

.user-name.title {
    font-size: 2em;

}

.main-container {
    background: #C2D0E1;
}

.main-container .card {
    border-radius: 6px;
}

.card .secodery-title {
    font-size: 0.90em;
    font-weight: 600;
}

.card .secodery-title:after {
    content: "";
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid rgba(151, 151, 151, 0.18);
    margin-bottom: 5px;
}

blockquote {
    border-left: 1px solid #6D8EB7;
}

blockquote .title {
    font-size: 14px;

}

blockquote .desc {
    font-size: 12px;
    color: #868686;
}

.doc-list .file-icon {
    font-size: 1em;
}

.doc-list .download-icon:before {
    content: "";
    display: inline-block;
    height: 53px;
    border: 1px solid rgba(109, 142, 183, 0.21);
    bottom: 1px;
    position: absolute;
    right: 50px;
}